.bg-img-new {
    position: fixed;
    width: 100%;
    z-index: -1;
  }
  
  .user-info {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 3px rgba(241, 238, 238, 0.3);
    height: 300px;
  
    .app-name {
      margin-top: 10rem;
      color: rgba(144,147,153);
      font-size: 1rem;
      font-weight: bold;
    }
  
    text {
      color: rgba(144,147,153);
      margin-top: 10px;
      font-size: .8rem;
      opacity: 0.8;
    }
  }
  
  .one-card {
    height: 80px;
    margin-bottom: 20px;
  }
  
  .user-nav {
    display: flex;
    padding: 1rem;
    .user-nav-item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border-radius: 8px;
      padding: 1rem;
      border: 1px solid #e0e3ed;
  
      .item-number {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: .5rem;
      }
  
      .item-title {
        font-size: .9rem;
        font-weight: 600;
  
        text {
          margin-left: .4rem;
        }
      }
  
      &:active {
        background-color: #858585;
      }
    }
}