<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xiaoliu.life.dao.mapper.EssayMapper">
    <select id="getEssay" resultType="xiaoliu.life.model.entity.Essay">
        select * from essay order by essay.create_time desc limit 30
    </select>

</mapper>